{% extends 'customer_portal/base.html' %}

{% block title %}Password Changed - Gas Utility Portal{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">Password Changed Successfully</h4>
            </div>
            <div class="card-body">
                <div class="alert alert-success">
                    Your password has been changed successfully.
                </div>
                <a href="{% url 'customer_portal:home' %}" class="btn btn-primary">Return to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}